@model List<Aula1AspNetMVC.Models.Cliente>
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista</h2>

@foreach(var cliente in Model)
{
    <li>@Html.DisplayFor(Model => cliente.Nome) @Html.DisplayFor(Model => cliente.SobreNome)</li>
}

@section scripts{
  <script>
      $(document).ready(function () {
          $("li").click(function () {
              $(this).hide();
          });
      });
</script>  
    
}

